$body-font-family: 'Readex Pro', 'Heveltica', 'Roboto', 'sans-serif';
$heading-font-family: 'Readex Pro', 'Heveltica', 'Roboto', 'sans-serif';

$card-border-radius: 12px;
$menu-content-border-radius: 12px;
$sheet-border-radius: 12px;
$dialog-border-radius: 12px;
$alert-border-radius: 8px;
$btn-border-radius: 8px;
$btn-text-transform: none;
